body {
  background-color: #ff0;
}
header {
  background-color: #0000ff;
  height:200px;
  color: #fff;
}
nav {
  background-color: #008000;
  height:80px;
}
.content {
  background-color: #ff0000;
  height: 150px;
}
.aside {
  background-color: #00ffff;
  height: 150px;
}
.promo {
  background-color: #ffa500;
  height: 100px;
}
footer {
  background-color: #000000;
  height: 50px;
  color: #fff;
}
header, nav, .content, .aside, .promo, footer {
  border: 3px solid #000;
}
.green {
  height: 200px;
  background-color: green;
}
.blue {
  height: 200px;
  background-color: blue;
}

.col-sm-1 {
  height: 100px;
  background-color: black;
  border:1px solid white;
}
.left {
  height: 300px;
  background-color: white;
  border: 1px solid #fff;
}
.right {
  height: 300px;
  background-color: black;
  border: 3px solid blue;
}
/* Media queries start */

@media /* <--Rule*/ screen /*<---media*/ and (min-width: 600px) {
  .right {
    background-color: pink;
  }
}
