body {
  background-color: #ff0;
}
header {
  background-color: #0000ff;
  height:200px;
  color: #fff;
}
nav {
  background-color: #008000;
  height:80px;
}
.content {
  background-color: #ff0000;
  height: 150px;
}
.aside {
  background-color: #00ffff;
  height: 150px;
}
.promo {
  background-color: #ffa500;
  height: 100px;
}
footer {
  background-color: #000000;
  height: 50px;
  color: #fff;
}
header, nav, .content, .aside, .promo, footer {
  border: 3px solid #000;
}
